<div id='write'  class=''><h1 id='自我介绍-中文'><span>自我介绍-中文</span></h1><table>
<tr> <td>
🤺 关于我 <br>
<img align="right" width="100" src="{{site.baseurl}}/images/about/avatar.png" />
<p>&emsp;&emsp;大家好，我是HuStu同学。</p>
<p>&emsp;&emsp;热爱乒乓球、麻将、Apex。</p>
<p><strong>&emsp;&emsp;我们正在学习中，学会让自己变得更好。芝士就是力量，科技改变世界，这根本难不倒他。</strong></p>
</td> </tr><p><tr><span> </span><td>
<span>🏢 教育经历 </span><br><ul><li><p><a href='https://www.xjtu.edu.cn/' target='_blank'><span> 西安交通大学 </span></a><span> </span>&emsp;&emsp;<span>  📌 2021-09-01 —— Now </span></p><ul><li><p><span>流行病于卫生统计学 </span></p></li><li><p><span>研究生</span></p></li></ul></li><li><p><a href='https://www.xjtu.edu.cn/' target='_blank'><span> 西安交通大学 </span></a><span>  </span>&emsp;&emsp;<span> 📌 2016-09-01 —— 2021-07-01 </span></p><ul><li><p><span>预防医学</span></p></li><li><p><span>本科</span>
<span> </span></p></li></ul></li></ul><p><tr><span> </span><td>
<span>📃最近博客 </span><br><ul><li><p><a href='https://huww1998.github.io/sas/linear%20regression%20simulation.html' target='_blank'><span> 怎样进行sas模拟 </span></a><span> </span>&emsp;&emsp;<span> 2023-12-27</span>
<span> </span><</p></li></ul><p><tr><span> </span><td>
<span>🤾‍♂️ 趣味工具 </span><br><ul><li><p><a href='https://hustu.shinyapps.io/logisticsim/' target='_blank'><span> 模拟logistic回归的shiny app </span></a><span> </span>&emsp;&emsp;<span> 🌟 Recommended- 2023-12-12</span></li>
<span> </span></p></li></ul><p>&nbsp;</p>
