
<table>
<tr>
<td>
🤺 关于我 <br>
<p><img align="right" width="100" src="{{site.baseurl}}/images/introduction/avatar.png" /></p>
<p>&emsp;&emsp;大家好，我是HuStu同学。</p>
<p>&emsp;&emsp;热爱乒乓球、麻将、Apex。</p>
<p><strong>&emsp;&emsp;我们正在学习中，学会让自己变得更好。芝士就是力量，科技改变世界，这根本难不倒他。</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td></tr>
<tr><td>
<p>🏢 教育经历 <br>
<img align="right" width="66" src="{{site.baseurl}}/images/introduction/xjtu-logo.png" /> </p>
<ul>
<li> <a href='https://www.xjtu.edu.cn/' target='_blank'> 西安交通大学 </a> &emsp;&emsp;  📌 2021-09-01 —— Now 
<ul>
<li> 流行病于卫生统计学  </li>
<li> 研究生 </li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p><img align="right" width="66" src="{{site.baseurl}}/images/introduction/xjtu-logo.png" /> </p>
<ul>
<li>  <a href='https://www.xjtu.edu.cn/' target='_blank'> 西安交通大学 </a>  &emsp;&emsp; 📌 2016-09-01 —— 2021-07-01 
<ul>
<li> 预防医学 </li>
<li> 本科 </li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
</td></tr>
<tr><td>
<p>📃最近博客 <br>
<img align="right" width="88" src="{{site.baseurl}}/images/introduction/astronaut.png" /></p>
<ul>
<li>   <a href='https://huww1998.github.io/sas/linear%20regression%20simulation.html' target='_blank'> 怎样进行sas模拟 </a> &emsp;&emsp; 2023-12-27 </li>
</ul>
</td></tr>
<tr><td>
<p>🤾‍♂️ 趣味工具 <br></p>
<p><img align="right" width="88" src="{{site.baseurl}}/images/introduction/shiny-logo.jpg" /></p>
<ul>
<li>   <a href='https://hustu.shinyapps.io/logisticsim/' target='_blank'> 模拟logistic回归的shiny app </a> &emsp;&emsp; 🌟 Recommended- 2023-12-12</li>
</ul>
</td></tr>
<p>&nbsp;</p>

